<script>require("web/static/js/traindepartures").DepartureTable.documentready()</script>
<div class="jumbotron">
  <span class="logo"></span>
  <span id="lastupdated"></span>
  <div id="tablecontainer">
    <%= render "traintable.html", assigns %>
  </div>
</div>
